*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

body{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav{
	width: 100%;
	height: 50px;
	background: black;
	opacity: 0.9;
	color: white;
	font-size: 1em;
	display: flex;
	flex-direction: row;
}

h1{
	padding-left: 0.5em;
  	text-align: center;
  	font-size: 1.4em;
  	display: inline;
  	padding-right: 0.5em;
  }

.logo{
	width: 30%;
	padding-top: 1em;
	font-weight: bold;
}
.navbar-items {
	width: 70%;
	text-align: end;
	padding-top: 1em;
}
.nav-item{
	padding-right: 20px;
	color: white;
	text-decoration: none;
}
  
.hero-img{
	width: 100%;
	height: 800px;
	object-fit: cover;
}
.intro{
	padding-top: 2em;
	text-align: center;
}

p{
	width: 60%;
	font-size: 1em;

}
h2{
	font-size: 1.5em;
	padding-top: 2em;
}
.menu-items{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1em;
}
.item-tile{
	margin-right: 1em;
	width: 33%;
	box-shadow: 1px 1px 5px 1px grey;
	display: flex;
	flex-direction: column;
}

.item-img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.item-text {
	height: 30px;
	margin-top: -30px;
	padding: 0.5em 0.5em 0 0.5em;
	text-align: center;
	color: #fff;
	background: black;
	opacity: 0.8;
}
.feedback{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h2{
	font-size: 1.5em;
}
.quote{
	padding: 2em;
}
.footer{
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black;
	color: white;
}
.title{
	color:white;
	text-align: center;
	padding-bottom: 0.5em;
}
input{
	padding: 0.5em;
	margin-top: 0.5em;
}